* {
    box-sizing: border-box;
    --button-color: #f1c40f;
    --icon-color: rgb(255, 140, 0); 
  }
  
  body {
    background-color: #eee;
    font-family: arial, serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eee;
  }
  
  #logo-wrapper {
    display: flex;
    padding: 5px;
  }
  
  #logo-name {
    font-family: "Freckle Face", serif;
    font-size: 3rem;
    white-space: nowrap;
    position: relative;
    top: 25px;
    left: -50px;
  }
  
  img {
    height: 100px;
  }
  
  ul {
    display: flex;
    gap: 75px;
    list-style-type: none;
    flex-wrap: nowrap;
    margin-right: 50px;
  }
  
  li {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;
  }
  
  /* Remove navbar decorations and add hover effects */
  
  a:link { 
    text-decoration: none;
    color: black; 
  } 
  a:visited { 
    text-decoration: none;
    color: black; 
  } 
  #nav-bar a:hover { 
    text-decoration: none; 
    color: orange;
    font-size: 1.5rem;
  } 
  a:active { 
    text-decoration: none;
    color: black; 
  }
  
  /* Hero section */
  
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
  .hero-text {
    font-size: 1.75rem;
  }
  
  input {
    display: block;
    margin: auto; 
  }
  
  #email {
    margin-bottom: 20px;
    width: 275px;
    padding: 5px;
  }
  
  .button {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: var(--button-color);
    border: none;
  }
  
  .button:hover {
    background-color: orange;
  }
  
  /* Features section */
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
    width: 50%;
    column-gap: 20px;
  }
  
  #features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  
  i {
    font-size: 3em;
    color: darkorange; 
  }
  
  .desc {
    width: 100%;
  }
  
  h2 {
    margin-bottom: 0px;
  }
  
  p {
    margin-top: 0px;
  }
  
  /* How-It-Works section */
  
  #how-it-works {
    width: 600px;
    margin: auto;
  }
  
  .spacer {
    margin-top: 75px;
  }
  
  /* Pricing section */
  
  #pricing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 75%;
    margin: 0 auto 50px auto;
  }
  
  .model {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border: 1px solid black;
  }
  
  /* Pricing boxes */
  
  .model .heading {
    background-color: lightgray;
    border: 1px solid lightgray;
    text-align: center;
  }
  
  .model h2 {
    text-align: center;
  }
  
  .model .info {
    width: 50%;
    font-size: 17px;
    text-align: center;
    margin: 10px auto; 
  }
  
  .model .info p {
    padding: 0;
    margin: 15 0;
  }
  
  .select {
    padding: 10px 20px;
    margin-top: 25px;
  }
  
  /* Footer section */
  
  footer {
    background-color: lightgray;
    max-width: 1120px;
    height: 75px; 
    margin: auto;
    text-align: right;
    padding-right: 20px;
  }
  
  footer #foot-nav{
    padding: 12px 0;
    text-align: right;
  }
  
  footer #foot-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  
  @media only screen and (max-width: 600px) {
    header {
      display: flex;
      flex-wrap: wrap;
    }
  }